 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .main_table {
     position: fixed;
     width: 1200px;
     height: 900px;
     background-color: rgba(116, 82, 55, 0.589);
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     display: grid;
     /* grid-template-columns: 3fr 4fr; */
     grid-template-columns: 25% 25% 25% 25%
 }

 .test {
     height: 300px;
     width: 300px;
     border: 1px solid #000;
 }
.user1_kan {
    background-color: rgb(58, 114, 67);
}
.user2_kan {
    background-color: rgb(163, 57, 57);
}
 

 .user {
     font-size: 40px;
     text-align: center;
     width: 400px;
     height: 900px;
     background-color: #ddd;
 }

 #user1 {
     position: fixed;
     top: 50%;
     left: 10%;
     transform: translate(-50%, -50%);
 }

 #user2 {
     position: fixed;
     top: 50%;
     right: 10%;
     transform: translate(50%, -50%);
 }